# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/

# Environment variables
.env
.env.*

# Media
media/

# IDE
.vscode/
.idea/
.cursor/

# OS
.DS_Store
Thumbs.db